.home-section:nth-of-type(odd) {
    color: #000;
    // background-color: #FFEBD3;
}

.home-section:nth-of-type(even) {
    color: #FFF;
    // background-color: #FFCBC6
}

#profile .portrait-title h2 {
    color: #679186
}

#profile .portrait-title h3 {
    color: #679186
}

.home-section:nth-of-type(odd) li {
    color: #000;
}